header {
  background: none;
  border-bottom: none;
  margin: 0 0 48px;
  padding: 0;
  align-items: flex-end;
}
.page {
  margin: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
#main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.page > #main > p,
.page > #main > .alert,
.page > .filter-box,
.page > .margin-bottom {
  margin: 0 0 16px;
  max-width: calc(var(--size-width-def) - 32px);
}
.page > .activity-event {
  margin: 0;
  max-width: calc(var(--size-width-def) - 32px);
}

.project-header {
  padding: 0;
  margin: -24px 0 48px;
  background: none;
  max-width: 100%;
  height: 40px;
}
#board-container {
  background-image: var(--pattern-dots-def);
  background-size: var(--pattern-dots-size);
  overflow-x: auto;
  max-width: 100%;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  /*background-attachment: fixed;*/
  /*background-position: 0 0;*/
}
.sidebar-container {
  /*max-width: calc(var(--size-width-def) + var(--size-width-comp) + 4rem);*/
  max-width: calc(var(--size-width-def) + var(--size-width-comp) - 64px);
}
.sidebar-content,
.accordion-section {
  padding-left: 0;
  max-width: var(--size-width-def);
  background: var(--color-greyscale-6);
  padding: 16px 32px;
  border-radius: var(--size-radius-def);
  border-bottom: var(--style-border);
  margin-bottom: 16px;
  box-sizing: border-box;
}
.accordion-section {
  margin-bottom: 0;
  border-bottom: 0;
}
#main .sidebar-content,
#main > .accordion-section,
.page > .table-list {
  box-shadow: var(--style-shadow-heavy);
}
#main > .accordion-section {
  border-radius: 0;
}
#main > .accordion-section:first-of-type {
  border-top-left-radius: var(--size-radius-def);
  border-top-right-radius: var(--size-radius-def);
}
#main > .accordion-section:last-of-type {
  border-bottom-left-radius: var(--size-radius-def);
  border-bottom-right-radius: var(--size-radius-def);
}
#main .sidebar-content {
  padding: 32px;
}
.page-header,
.sidebar-content > h2,
.sidebar-content > h3,
.accordion-title {
  /*background: var(--color-greyscale-6);*/
  border: none;
  border-radius: var(--size-radius-def) var(--size-radius-def) 0 0;
  /*border-bottom: var(--style-border);*/
  padding: 16px 0;
  margin: 0 0 8px;
  background: none; /* Removed from here as it will be on a higher level */
  text-shadow: 0 0 1em var(--color-greyscale-6);
}
.sidebar-content > h3 {
  background-image: none;
}
.page > #main > .page-header,
.page > .page-header {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 48px;
  box-shadow: none;
  margin-top: -24px;
}
.page-header ul {
  width: 100%;
}
.panel,
.table-list,
form,
.accordion-content {
  border: none;
  /*border-bottom: var(--style-border);*/
  border-radius: var(--size-radius-def);
  line-height: 24px;
  margin: 0;
  margin-bottom: 16px;
  font-size: 12px;
  color: var(--color-greyscale-1);
  height: auto;
  padding: 16px 24px;
  width: auto;
  max-width: var(--size-width-def);
  background: var(--color-greyscale-4);
  box-sizing: border-box;
}
.accordion-section > * {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.accordion-section .accordion-content {
  padding: 24px;
}
.accordion-section .accordion-content .buttons-header > * {
  margin-top: 0;
}
form > .panel {
  border-left: var(--style-border-thk);
}
.table-list {
  background: var(--color-greyscale-6);
}
.panel > *,
.table-list > *,
form > *:not(textarea, select, input),
.accordion-content > * {
  border-bottom: none;
  margin: 0 0 16px;
  padding: 0;
}

.panel > *:last-child:not(.alert),
.table-list > *:last-child:not(.alert),
form > *:last-child:not(.alert),
.accordion-content > *:last-child:not(.alert) {
  margin-bottom: 0;
  margin-right: 0;
}
.panel li {
  list-style-type: unset;
  margin-left: 20px;
  line-height: unset;
}
.panel > ul:last-child > li:last-child {
  margin-bottom: 0;
}
.accordion-content > table {
  table-layout: fixed;
}
